@import "../../../style/abstract/abstract.scss";

.photo {
   color: $light-color;

   @include respond(phone) {
      flex-wrap: wrap;
   }

   @include respond(small-phone) {
      padding: 20rem 0 10rem !important;
   }

   &-img {
      width: 75vw;
      height: 80vh;
      margin-top: 1rem;
      background-position: center;
      background-size: cover;

      @include respond(phone) {
         width: 90vw;
         height: 70vh;
      }

      @include respond(small-phone) {
         width: 90vw;
         height: 55vh;
      }
   }

   &-close {
      position: absolute;
      font-size: 3rem;
      right: 3rem;
      top: 3rem;
      cursor: pointer;
      @include easeOut;

      &:hover {
         color: $dark-color;
      }
   }

   &-arrow {
      font-size: 6rem;
      margin: 0 2rem;
      cursor: pointer;
      @include easeOut;

      @include respond(phone) {
         order: 2;
         margin: 4rem 0;
         flex-basis: 50%;
      }

      &:hover {
         color: $primary-color;
         transform: scale(1.2);
      }
   }
}
