@import "../../../style/abstract/abstract.scss";

.photo {
   &-img {
      width: 75vw;
      height: 80vh;
      margin-top: 1rem;
      background-position: center;
      background-size: cover;
   }

   &-close {
      position: absolute;
      font-size: 3rem;
      right: 3rem;
      top: 3rem;
      cursor: pointer;
      @include easeOut;

      &:hover {
         color: $dark-color;
      }
   }

   &-arrow {
      font-size: 6rem;
      margin: 0 2rem;
      cursor: pointer;
      @include easeOut;

      &:hover {
         color: $primary-color;
         transform: scale(1.2);
      }
   }
}
