@import "../../../style/abstract/abstract.scss";

.section-login {
   margin: 7.3rem auto 0 auto;
   background-color: $light-color;
   font-family: "Montserrat", sans-serif;
   position: relative;
   overflow: hidden;
   min-height: 89.2vh;

   @include respond(tab-land) {
      min-height: 88.3vh;
   }

   @include respond(phone) {
      min-height: 90.5vh;
   }
}

.login {
   min-height: inherit;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   &-card {
      display: flex;
      width: 80vw;
      background-color: $white-color;
      border-radius: 0.5rem;
      position: relative;

      @include respond(small-phone) {
         width: 90vw;
      }

      .form {
         width: 55%;
         padding: 6rem 3rem 4rem;

         @include respond(phone) {
            width: 90%;
            padding: 6rem 5rem 5rem;
            background-color: $white-color;
            z-index: 100;
         }

         @include respond(small-phone) {
            padding: 6rem 3rem 5rem;
         }

         &-section {
            margin: 4rem auto 2.5rem;
            width: 70%;

            @include respond(tab-land) {
               width: 80%;
            }

            @include respond(tab-port) {
               width: 90%;
            }
         }
      }

      &-sign {
         font-size: 1.4rem;
         margin-top: 1.5rem;
         color: $secondary-color;

         &:nth-child(3) {
            margin-top: 0.5rem;
         }
      }
   }

   &-img {
      @include respond(phone) {
         position: absolute;
         top: -10rem;
         width: 100%;
         left: 0;
         bottom: -10rem;
         z-index: 1;
      }
      width: 45%;
      background-image: linear-gradient(
            rgba($white-color, 0.6),
            rgba($white-color, 0.6)
         ),
         url(../../../img/background-1.jpg);
      position: relative;

      &-text {
         color: $primary-color;
         position: absolute;
         bottom: 2.5rem;
         left: 2.5rem;
      }
   }
}
