//Buttons
.btn {
   &,
   &:link,
   &:visited {
      display: inline-block;
      backface-visibility: hidden;
      background: $light-color;
      color: $dark-color;
      font-size: 2rem;
      padding: 0.64rem 2.1rem;
      border: none;
      cursor: pointer;
      border-radius: 0.64rem;
      opacity: 0.7;
      @include easeOut;
   }

   &:hover {
      background-color: darken($light-color, 20%);
      transform: translateY(-0.3rem) scale(1.05);
      box-shadow: 0 1rem 2rem rgba($dark-color, 0.2);
   }

   &:active,
   &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0rem 1rem rgba($dark-color, 0.2);
   }

   &.btn-primary {
      @include background-hover($primary-color);
   }
   &.btn-secondary {
      @include background-hover($secondary-color);
   }
   &.btn-tertiary {
      @include background-hover($tertiary-color);
   }
   &.btn-dark {
      @include background-hover($dark-color);
   }
   &.btn-light {
      @include background-hover($light-color);
   }
   &.btn-danger {
      @include background-hover($danger-color);
   }
   &.btn-success {
      @include background-hover($success-color);
   }

   &-center {
      text-align: center;
      margin-top: 2rem;
   }

   &-text {
      &:link,
      &:visited {
         color: $primary-color;
         display: inline-block;
         text-decoration: none;
         border-bottom: 1px solid $primary-color;
         transition: all 0.2s;
         backface-visibility: hidden;
      }

      &.light {
         color: $light-color;
         font-size: 1.8rem;
         font-family: "Dancing Script", cursive;
         border-bottom: 1px solid $light-color;
      }

      &:hover {
         transform: translateY(-2px);
      }

      &:active,
      &:focus {
         outline: none;
      }
   }
}
