table {
   border-collapse: collapse;
   width: 100%;
   margin: 0 auto;
   font-size: 1.75rem;
   --table-layout: fixed;

   @include respond(small-phone) {
      font-size: 1.6rem;
   }

   .border-btm {
      padding-bottom: 0.4rem;
      border-bottom: 1px solid $primary-color;
   }

   th,
   td {
      padding: 1rem;
      text-align: center;
   }

   th {
      background-color: lighten($primary-color, 10%);
      color: $white-color;
      opacity: 0.65;
   }

   &.info {
      width: 80%;
      font-size: 2rem;

      @include respond(small-phone) {
         width: 90%;
         font-size: 1.6rem;
      }

      td {
         text-align: start;
      }

      tr > *:first-child {
         color: $primary-color;
         font-size: 2.5rem;

         @include respond(small-phone) {
            font-size: 1.8rem;
         }
      }
   }

   @each $child in $tablechildren {
      &.icon-#{$child} {
         td:nth-child(#{$child}),
         td:nth-child(#{$child + 1}) {
            width: 5%;
         }
         .btn-text {
            font-size: 2rem;
         }
      }
   }
}
