@import "../../../style/abstract/abstract.scss";

.navbar {
   display: flex;
   justify-content: space-between;
   position: fixed;
   top: 0;
   padding: 1.5rem 2rem;
   box-shadow: 0 2.5px 15px 1px $dark-color;
   opacity: 0;
   visibility: hidden;
   background-color: $primary-color;
   width: 100%;
   z-index: 100;
   @include longerEaseOut;

   &.show {
      opacity: 0.9;
      visibility: visible;
   }

   &-logo {
      @include longerEaseOut;
      img {
         display: block;
         width: 8rem;
         /*  filter: invert(100%);
         -webkit-filter: invert(100%); */
         filter: brightness(0) invert(1);
         -webkit-filter: brightness(0) invert(1);
         transform: rotateY(180deg);
      }

      &:hover {
         transform: rotateY(360deg);
      }
   }

   &-list {
      font-family: "Dancing Script", cursive;
      display: flex;
      justify-content: flex-end;
      font-size: 2.5rem;
      align-items: center;
      flex: 1;

      &-item {
         &:not(:last-child) {
            margin-right: 3rem;
         }
      }

      &-link {
         cursor: pointer;
         color: $white-color;
         overflow: hidden;
         position: relative;
         @include easeOut;

         &::after {
            content: "";
            display: block;
            position: absolute;
            top: 3.5rem;
            right: 0;
            height: 1.5px;
            width: 0px;
            background: transparent;
            transition: all 0.6s ease;
         }

         &::before {
            content: "";
            display: block;
            position: absolute;
            top: 3.5rem;
            left: 0;
            height: 1.5px;
            width: 0px;
            background: transparent;
            transition: all 0.6s ease;
         }

         &:hover {
            color: lighten($secondary-color, 8%);

            &:after {
               width: 100%;
               background: lighten($secondary-color, 8%);
            }

            &:before {
               width: 100%;
               background: $secondary-color;
            }
         }
      }
   }
}
