@keyframes moveInLeft {
   0% {
      opacity: 0;
      transform: translateX(-10rem);
   }

   60% {
      transform: translateX(1rem);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes moveInRight {
   0% {
      opacity: 0;
      transform: translateX(10rem);
   }

   60% {
      transform: translateX(-1rem);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes moveInBottom {
   0% {
      opacity: 0;
      transform: translateY(3rem);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes moveInTop {
   0% {
      opacity: 0;
      transform: translateY(-3rem);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes slowAppear {
   0% {
      opacity: 0;
      transform: scale(0.8);
   }

   100% {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes appearTop {
   0% {
      opacity: 0;
      transform: translateY(-3rem);
      height: 0%;
   }

   100% {
      opacity: 1;
      height: 100%;
      transform: translateY(0);
   }
}

@keyframes appearBottom {
   0% {
      opacity: 0;
      transform: translateY(3rem);
      height: 0%;
   }

   100% {
      opacity: 1;
      height: 100%;
      transform: translateY(0);
   }
}

@keyframes grow {
   0% {
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
   }

   100% {
      opacity: 0.85;
      transform: scale(1);
      -webkit-transform: scale(1);
   }
}

@keyframes growItem {
   0% {
      opacity: 0;
      transform: scale(0) translateX(-50%);
      -webkit-transform: scale(0) translateX(-50%);
      bottom: -10rem;
   }

   100% {
      opacity: 1;
      transform: scale(1) translateX(-50%);
      -webkit-transform: scale(1) translateX(-50%);
   }
}

@keyframes shrink {
   0% {
      display: inline-flex;
      opacity: 0.85;
      transform: scale(1);
      -webkit-transform: scale(1);
   }
   99% {
      display: inline-flex;
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
   }
   100% {
      display: none;
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
   }
}
