.heading {
   font-family: "Dancing Script", cursive;
   position: relative;

   @include respond(small-phone) {
      margin-left: 1.5rem;
   }

   &-primary {
      margin-bottom: 1.6rem;
      font-size: 4.8rem;
      line-height: 5.8rem;

      .underline {
         top: 5.5rem;

         @include respond(small-phone) {
            border: none !important;
         }
      }
   }

   &-secondary {
      margin-bottom: 1.6rem;
      font-size: 3.5rem;
      line-height: 4.2rem;

      .underline {
         top: 3.5rem;
      }
   }

   &-tertiary {
      margin-bottom: 1.6rem;
      font-size: 2.5rem;
      line-height: 2.5rem;
   }

   .underline {
      border: 1px solid $primary-color;
      position: absolute;
      width: 15%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
   }

   &-icon {
      margin-bottom: -0.65rem;
      margin-right: 2rem;
      color: $primary-color;

      @include respond(small-phone) {
         margin-right: 1rem;
      }
   }
}

.indentation {
   margin-left: 2rem;
}

.text {
   &-primary {
      color: $primary-color !important;
   }
   &-secondary {
      color: $secondary-color !important;
   }
   &-dark {
      color: $dark-color !important;
   }
   &-danger {
      color: $danger-color !important;
      font-weight: 500;
   }
   &-success {
      color: $success-color !important;
      font-weight: 500;
   }

   &-right {
      text-align: right;
   }

   &-centre {
      text-align: center;
   }
}
