.heading {
   font-family: "Dancing Script", cursive;
   position: relative;

   &-primary {
      margin-bottom: 1.6rem;
      font-size: 4.8rem;
      line-height: 6rem;
   }

   &-secondary {
      margin-bottom: 1.6rem;
      font-size: 3.5rem;
      line-height: 3.5rem;
   }

   &-tertiary {
      margin-bottom: 1.6rem;
      font-size: 2rem;
      line-height: 2.5rem;
   }

   .underline {
      border: 1px solid $primary-color;
      position: absolute;
      width: 15%;
      left: 50%;
      transform: translateX(-50%);
      top: 3.5rem;
      z-index: 0;
   }
}

.text {
   &-primary {
      color: $primary-color;
   }
   &-secondary {
      color: $secondary-color;
   }
   &-dark {
      color: $dark-color;
   }

   &-right {
      text-align: right;
   }

   &-centre {
      text-align: center;
   }
}
