@import "../../../style/abstract/abstract.scss";

.vessel {
   .heading {
      color: $dark-color;
   }

   .indentation {
      margin-left: 5rem;

      .icon {
         font-size: 3rem;
         margin-bottom: -0.85rem;
      }
   }

   .section-tab {
      margin: 4rem 0 !important;
   }

   &-img {
      width: 75vw;
      height: 65vh;
      margin: 6rem auto 3rem;

      @include respond(tab-land) {
         width: 80vw;
      }

      @include respond(tab-port) {
         height: 50vh;
      }

      @include respond(phone) {
         height: 33vh;
      }

      @include respond(small-phone) {
         height: 25vh;
         margin: 4rem auto 2.5rem;
      }
   }

   .row {
      align-items: flex-start !important;
      justify-content: flex-start !important;
   }

   li {
      padding: 0.7rem 0;

      .icon {
         color: $primary-color;
         margin-bottom: -0.25rem;
      }
   }
}
