@import "../../../style/abstract/abstract.scss";

.header {
   height: 100vh;
   position: relative;
   background-image: linear-gradient(
         rgba($dark-color, 0.6),
         rgba($dark-color, 0.6)
      ),
      url(../../../img/header.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center top;
   background-attachment: fixed;
   color: $light-color;

   * {
      position: relative;
      z-index: 3;
   }

   &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
         to bottom right,
         $dark-color,
         $primary-color
      );
      opacity: 0.6;
      z-index: 1;
   }

   &-nav {
      animation: moveInTop 1s ease-out;
      font-family: "Dancing Script", cursive;
      padding: 2rem;
      width: 100%;
      display: flex;

      &-icon {
         img {
            display: block;
            width: 12rem;
            transform: rotateY(180deg);
            filter: brightness(0) invert(1);
            -webkit-filter: brightness(0) invert(1);
         }
      }
   }

   .navbar-list-link {
      font-size: 3rem;

      &::before,
      &::after {
         top: 3.8rem;
      }
   }

   &-main {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &-title {
         font-family: "Dancing Script", cursive;
         animation: slowAppear 1s ease-out;
         font-size: 7rem;
         margin-bottom: 5rem;
      }

      &-desc {
         font-size: 2.2rem;
         position: relative;
         text-transform: uppercase;
         letter-spacing: 0.4rem;
      }

      .btn-center .btn {
         font-family: "Times New Roman", Times, serif !important;
         animation: moveInBottom 1s ease-out;
         font-size: 2.5rem;
      }
   }

   .icon {
      margin-bottom: -0.55rem;
   }
}
