@import "../../../style/abstract/abstract.scss";

.user {
   &-login {
      color: $dark-color;
      font-size: 1.4rem;
      margin-top: 1.5rem;
   }
   &-name {
      margin: 1.5rem 0 7rem 0;

      @include respond(small-phone) {
         margin: 30rem 0 0 0;
      }
   }

   .form {
      @include respond(small-phone) {
         position: inherit;
      }

      &-img {
         position: absolute;
         max-width: fit-content;
         top: 0.5rem;
         right: 10rem;

         @include respond(tab-land) {
            right: 5rem;
         }

         @include respond(tab-port) {
            right: 2rem;
         }

         @include respond(small-phone) {
            left: 50%;
            transform: translateX(-50%);
            top: 24.5rem;
         }
      }
   }

   &-email {
      display: flex;
      height: 58vh;
      justify-content: center;
      text-align: center;
      align-items: center;

      &-icon {
         color: $primary-color;
         font-size: 5rem;
      }

      &-text {
         font-size: 2rem;
         font-weight: 600;

         &-smaller {
            color: $dark-color;
            margin: 2.5rem 0 0.5rem;
         }
      }

      .btn-text {
         font-size: 1.6rem;
      }
   }
}
