@import "../../../style/abstract/abstract.scss";

.dashboard {
   margin: 7.3rem auto 0 auto;
   background-color: $light-color;
   font-family: "Montserrat", sans-serif;
   font-weight: 300;
   position: relative;
   overflow: hidden;
   padding: 4rem 3.2rem;

   .section-sidebar {
      background-color: $white-color;
      border-radius: 0.3rem;
      box-shadow: 0 1rem 2rem -2px rgba($secondary-color, 0.5);
      min-height: 80.9vh;
   }

   table tr.show-sm td {
      width: 100%;
   }
}
