@import "../../../../style/abstract/abstract.scss";

.fleet {
   padding: 10rem 2rem 14rem;
   text-align: center;

   @include respond(phone) {
      padding: 6rem 2rem 8rem;
   }

   &-gallery {
      padding-top: 6rem;
      position: relative;

      &-right,
      &-left {
         position: absolute;
         top: 55%;
         transform: translateY(-50%);
         perspective: 500px;
      }

      &-img {
         width: 40vw;
         height: 35vh;
         background-position: center;
         background-size: cover;
         position: relative;
         z-index: 1;
         cursor: pointer;
         @include longerEaseOut;

         @include respond(tab-land) {
            height: 30vh;
         }

         @include respond(tab-port) {
            height: 25vh;
         }

         @include respond(phone) {
            height: 20vh;
         }

         @include respond(small-phone) {
            height: 15vh;
         }
      }

      &-right {
         right: -0.5rem;

         &-img {
            transform: rotateY(20deg);
         }
      }

      &-left {
         left: -0.5rem;

         &-img {
            transform: rotateY(-20deg);
         }
      }
   }

   &-boat {
      .text {
         font-family: "Montserrat", sans-serif;
         width: 65vw;
         position: relative;
         left: 50%;
         z-index: 4;
         transform: translateX(-50%);
         padding: 1rem 0;
         background-image: linear-gradient(
            rgba($light-color, 0.6),
            rgba($light-color, 0.6)
         );

         @include respond(small-phone) {
            padding: 0.8rem 0;
         }
      }

      &-name {
         font-weight: 800;
         color: $primary-color;
         font-size: 3.5rem;
         margin-bottom: -10rem;

         @include respond(phone) {
            font-size: 2.8rem;
         }

         @include respond(small-phone) {
            font-size: 2rem;
            margin-bottom: -7rem;
         }
      }

      &-img {
         width: 70vw;
         height: 60vh;
         background-position: center;
         background-size: cover;
         position: relative;
         display: inline-block;
         z-index: 2;
         @include longerEaseOut;

         @include respond(tab-land) {
            height: 50vh;
         }

         @include respond(tab-port) {
            height: 40vh;
         }

         @include respond(phone) {
            height: 30vh;
         }

         @include respond(small-phone) {
            height: 20vh;
         }
      }

      &-price {
         color: $dark-color;
         font-size: 2.5rem;
         margin-top: -8rem;

         @include respond(phone) {
            font-size: 2rem;
         }

         @include respond(small-phone) {
            font-size: 1.8rem;
         }
      }
   }

   &-error {
      margin-top: 6rem;
      color: $danger-color;
      font-size: 2.5rem;
   }
}
