@import "../../../../style/abstract/abstract.scss";

.fleet {
   padding: 10rem 2rem;
   text-align: center;

   &-gallery {
      padding-top: 6rem;
      position: relative;

      &-right,
      &-left {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         perspective: 500px;
      }

      &-img {
         width: 40vw;
         height: 35vh;
         background-position: center;
         background-size: cover;
         position: relative;
         z-index: 1;
         cursor: pointer;
         @include longerEaseOut;
      }

      &-right {
         right: -0.5rem;

         &-img {
            transform: rotateY(20deg);
         }
      }

      &-left {
         left: -0.5rem;

         &-img {
            transform: rotateY(-20deg);
         }
      }
   }

   &-boat {
      .text {
         width: 65vw;
         position: relative;
         left: 50%;
         z-index: 4;
         transform: translateX(-50%);
         padding: 1rem 0;
         background-image: linear-gradient(
            rgba($light-color, 0.6),
            rgba($light-color, 0.6)
         );
      }

      &-name {
         color: $primary-color;
         font-size: 3.5rem;
         margin-bottom: -10rem;
      }

      &-img {
         width: 70vw;
         height: 60vh;
         background-position: center;
         background-size: cover;
         position: relative;
         display: inline-block;
         z-index: 2;
         @include longerEaseOut;
      }

      &-price {
         color: $dark-color;
         font-size: 2.5rem;
         margin-top: -8rem;
      }

      &-btn {
         &,
         &:link,
         &:visited {
            backface-visibility: hidden;
            background-color: $tertiary-color;
            color: $light-color;
            font-size: 1.6rem;
            padding: 0.5rem 1.8rem;
            border-radius: 0.5rem;
            border: none;
            cursor: pointer;
            top: 2rem;
            transition: all 0.15s ease-in-out;
            position: relative;
            z-index: 4;
         }

         &:active,
         &:focus {
            outline: none;
         }

         &:hover {
            background-color: $quaternary-color;
         }
      }
   }

   &-error {
      margin-top: 6rem;
      color: $danger-color;
      font-size: 2.5rem;
   }
}
