@import "../../../style/abstract/abstract.scss";

.menu {
   position: fixed;
   z-index: 500;
   height: 100vh;
   width: 100%;
   top: 0;
   left: 0;
   background-color: darken($primary-color, 5);
   opacity: 0.95;
   overflow: hidden;
   transform: translate3d(0, -100%, 0);
   visibility: hidden;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease-out;

   &.show {
      visibility: visible;
      display: flex;
      transform: translate3d(0, 0, 0);
      transition: all 0.5s ease-out;
   }

   &-close {
      &,
      &:link,
      &:visited {
         position: absolute;
         top: 3rem;
         right: 3rem;
         z-index: 501;
         background-color: inherit;
         border: none;
         cursor: pointer;
         font-size: 4rem;
         color: $secondary-color;
         @include easeOut;
      }

      &:hover {
         transform: scale(1.1) translateY(-0.2rem);
      }

      &:active,
      &:focus {
         outline: none;
      }
   }

   &-profile {
      padding: 0 0 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-img {
         width: 25rem;
         height: 25rem;
         border-radius: 50%;
         margin-bottom: 1.5rem;
      }
   }

   &-list {
      font-size: 3rem;
      font-family: "Dancing Script", cursive;
      padding: 4rem 0;
      text-align: center;

      &-line {
         width: 70%;
         height: 0.25rem;
         background-color: $dark-color;
      }

      .navbar-list-item {
         transform: translate3d(600px, 0, 0);
         padding: 1.5rem 0;
         margin: 0;
         @include easeOut;

         .navbar-list-link {
            &::before,
            &::after {
               top: 4rem !important;
            }
         }

         &.show {
            transform: translate3d(0, 0, 0);
         }

         &.current .navbar-list-link {
            color: $secondary-color;

            &::before {
               top: 4rem;
               right: 0;
               width: 100%;
               background-color: $secondary-color;
            }
         }
      }
   }
}

@for $x from 1 through 7 {
   .menu {
      .navbar-list-item:nth-child(#{$x}) {
         transition-delay: $x * 0.15s;
      }
   }
}
